[submodule "tools/XenonRecomp"]
	path = tools/XenonRecomp
	url = https://github.com/Player124413/XenonRecomp.git
[submodule "tools/XenosRecomp"]
	path = tools/XenosRecomp
	url = https://github.com/Player124413/XenosRecomp.git
[submodule "tools/ffmpeg-xma"]
	path = tools/ffmpeg-xma
	url = https://github.com/xenia-project/FFmpeg.git
